
/* rozmazané pozadí celé stránky */
.bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('mojestrankabg.jpg'); /* obrázek */
  background-size: cover;
  background-position: center;
  filter: blur(8px);
  z-index: -1; /* za vším obsahem */
}


/* text a obsah stránky */
body {
  margin: 0;
  font-family: "New Roman", serif;
  color: white;
  text-align: center;
}

/* levý pruh */
.left-bar {
  position: fixed;
  left: 0;
  top: 0;
  width: 160px;
  height: 100vh;
  background-color: rgba(255, 165, 0, 0.6);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px; /* odsazení od horního okraje */
  z-index: 1; /* nad pozadím */
}
.left-link:hover {
  color: darkorange;      /* efekt při najetí myší */
}

.left-bar p {
  margin: 20px 0;  /* mezera mezi položkami */
  font-weight: bold;
  color: white;
}

.center-square {
  width: 300px;
  height: auto;
  background-color: rgba(255, 165, 0, 0.6);
  color: white;
  
  display: flex;
  flex-direction: column;  /* důležité: prvky pod sebe, ne vedle sebe */
  align-items: center;     /* vodorovné centrování */
  justify-content: flex-start;
  
  margin: 250px auto 20px auto; /* mezery nahoře a dole */
  padding: 10px;
  border-radius: 10px;
}

.center-square h2 {
  margin: 0 0 10px 0;
  text-align: center;      /* název nahoře uprostřed */
}

.center-square pre {
  margin: 0;
  text-align: center;      /* text písničky pod názvem */
  white-space: pre-wrap;   /* zachová zalomení řádků */
}
/* ostatní styl */
h1 { color: orange; }

p { color: white; }

button { 
  padding: 10px 20px;
  background-color: orange;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  display: block;
  margin: 20px auto;
}

.gallery {
  display: flex;          /* obrázky vedle sebe */
  flex-wrap: wrap;        /* pokud se nevejdou, zalomí se do dalšího řádku */
  justify-content: center; /* centrování */
  gap: 10px;              /* mezera mezi obrázky */
  margin: 20px;
}

.gallery img {
  width: 200px;
  height: 200px;          /* pevná výška */
  object-fit: cover;      /* obrázek se ořízne a vyplní celý čtverec */
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.3s;
}

.gallery img:hover {
  transform: scale(1.05);
}



